Este Notebook contém minhas anotações, e é baseado no original disponível em: https://www.kaggle.com/code/phelpsmemo/cap394-exemplo-submissao-python

## CAP 394 - Exemplo de submissão de resultado ao Kaggle

Este notebook apresenta a forma com que os dados devem ser organizados para a submissão no Kaggle. Note que, este exemplo apenas apresenta como os dados devem ser organizados para a submissão, não tratando do desenvolvimento de uma análise dos dados propriamente dita.

> A submissão é utilizada para que você possa avaliar a generalização de seu modelo e comparar seus resultados com os colegas da aula.

In [1]:
import numpy as np
import pandas as pd

### 1. Importação dos dados

**Treino**

In [2]:
train_df = pd.read_csv("../input/cap-394-exercicio-de-analise-de-dados/treino.csv")

train_df.head(n = 3)

,id,b1,b2,b3,b4,b5,b6,b7,b8,b9,...,pred_minus_obs_S_b3,pred_minus_obs_S_b4,pred_minus_obs_S_b5,pred_minus_obs_S_b6,pred_minus_obs_S_b7,pred_minus_obs_S_b8,pred_minus_obs_S_b9,label,X,Y
0,454,54,28,51,93,56,100,80,24,55,...,-3.99,-23.22,-0.94,-4.30,-23.22,-1.69,-4.55,s,140.269397,36.897564
1,457,54,29,51,88,51,91,95,24,55,...,-4.09,-22.24,-1.01,-4.93,-17.81,-0.53,-2.98,s,140.246424,36.403438
2,261,59,30,52,90,54,93,80,26,58,...,-5.61,-27.73,-1.15,-5.74,-21.81,-2.39,-5.07,s,140.080862,35.906891

**Teste**

In [3]:
test_df = pd.read_csv("../input/cap-394-exercicio-de-analise-de-dados/teste.csv")

test_df.head(n = 3)

,id,b1,b2,b3,b4,b5,b6,b7,b8,b9,...,pred_minus_obs_S_b2,pred_minus_obs_S_b3,pred_minus_obs_S_b4,pred_minus_obs_S_b5,pred_minus_obs_S_b6,pred_minus_obs_S_b7,pred_minus_obs_S_b8,pred_minus_obs_S_b9,X,Y
0,356,79,28,54,117,52,99,93,25,60,...,-1.36,-4.23,-18.09,-0.70,-3.27,-15.79,-1.21,-3.39,140.727803,35.819235
1,202,46,27,50,83,51,90,76,26,56,...,-2.17,-7.11,-21.12,-1.56,-6.35,-22.19,-4.45,-7.32,140.432835,36.611896
2,183,56,26,50,94,50,87,83,24,54,...,0.23,-5.97,-14.35,-0.55,-5.40,-14.51,-2.68,-5.15,140.238891,36.089756

### 2. Processamento dos dados

> Abaixo, faz-se a **representação** dos dados sendo processados. Para isso, um conjunto de dados de resultado é montado com base na escolha aleatória de classes.

In [4]:
results = pd.DataFrame({
    "id": test_df["id"].values,
    "label": np.random.choice(train_df["label"].unique(), test_df.shape[0])
})

results.head( n = 3 )

    id label
0  356     d
1  202     d
2  183     o

### 3. Exportando os resultados

In [5]:
results.to_csv("results_to_submit.csv", index = False)